<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sudoku.css' %}">
    <script src="{% static 'js/script_medium.js' %}"></script>
    <title>Sudoku of the Day</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="/">SUDOKU</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Difficulty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href='/' value="easy">Easy</a>
                        <a class="dropdown-item" href='/medium' value="medium">Medium</a>
                        <a class="dropdown-item" href='/hard' value="hard">Hard</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/how_to_play">How to Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="/sign_in">Login/Register</a>
                </li>
            </ul>
        </div>  
    </nav>
    <!-- main content -->
    <div class="container mt-4">
        <div class="row mb-2">
            <h1 class="col">Sudoku of the day</h1>
            <div class="timer col-2">
                <h4 id="display" class="text-center">00:00:00</h4>
            </div>
            <div class="col-3 timer">
                <button id="startStop" onclick="startStop()"class="btn btn-secondary col-3  border-right-5">Start</button> 
                <button id="reset" onclick="reset()" class="btn btn-secondary col-3 border-right-10">Reset</button>
            </div>
        </div>
        <!-- user greeting -->
        <div class="row mb-3">
            {% if request.session.user_name %}
                <h3 class="col text-left">Hello {{request.session.user_name}}!</h3>
            {% endif %}
        </div>

        <div class="row col-10 mx-auto">
            <!-- sudoku board -->
            <div class="col mr-5">
                <div id="board"></div>
            </div>
            <!-- input buttons -->
            <div class="col px-3">
                <div id="input-box mx-auto">
                    <div class="row">
                        <!-- <button id="new_game" type="submit" class="btn btn-outline-secondary col rounded-0">NEW GAME</button> -->
                        <a href="/medium" id="new_game" class="btn btn-info col rounded-0">NEW GAME</a>
                    </div>
                    <div class="row">
                        <button id="one" type="submit" value=1 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">1</button>
                        <button id="two" type="submit" value=2 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">2</button>
                        <button id="three" type="submit" value=3 class="btn btn-outline-secondary col rounded-0 border-bottom-0">3</button>
                    </div>
                    <div class="row">
                        <button id="four" type="submit" value=4 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">4</button>
                        <button id="five" type="submit" value=5 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">5</button>
                        <button id="six" type="submit" value=6 class="btn btn-outline-secondary col rounded-0 border-bottom-0">6</button>
                    </div>
                    <div class="row">
                        <button id="seven" type="submit" value=7 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">7</button>
                        <button id="eight" type="submit" value=8 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">8</button>
                        <button id="nine" type="submit" value=9 class="btn btn-outline-secondary col rounded-0 border-bottom-0">9</button>
                    </div>
                    <div class="row">
                        <button id="clear" type="reset" class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">CLEAR</button>
                        <button id="erase" type="submit" value=0 class="btn btn-outline-secondary col rounded-0 border-bottom-0">ERASE</button>
                    </div>
                    <div class="row">
                        <button id="validate" type="submit" class="btn btn-outline-secondary col rounded-0">VALIDATE</button>
                        <button id="solution" type="submit" class="btn btn-outline-secondary col rounded-0">SOLVE</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="csrf" value="{{csrf_token}}">
    </div>
</body>
</html>